<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web08</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TokenServlet</display-name>
    <servlet-name>TokenServlet</servlet-name>
    <servlet-class>com.igeek.lesson1.TokenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TokenServlet</servlet-name>
    <url-pattern>/TokenServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateColorServlet</display-name>
    <servlet-name>ValidateColorServlet</servlet-name>
    <servlet-class>com.igeek.lesson2.ValidateColorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateColorServlet</servlet-name>
    <url-pattern>/ValidateColorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckCodeServlet</display-name>
    <servlet-name>CheckCodeServlet</servlet-name>
    <servlet-class>com.igeek.lesson2.CheckCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCodeServlet</servlet-name>
    <url-pattern>/CheckCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxTest</display-name>
    <servlet-name>AjaxTest</servlet-name>
    <servlet-class>com.igeek.lesson3.AjaxTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxTest</servlet-name>
    <url-pattern>/AjaxTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ajax</display-name>
    <servlet-name>Ajax</servlet-name>
    <servlet-class>com.igeek.lesson4.Ajax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajax</servlet-name>
    <url-pattern>/Ajax</url-pattern>
  </servlet-mapping>
</web-app>